<%!
from flask import g
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Custom styles for this template -->
    <title><%block name="title"></%block>下厨房短信</title>

    <!-- Bootstrap -->
    <link href="${url_for('static', filename='css/lib/bootstrap.min.css')}" rel="stylesheet">
    <link href="${url_for('static', filename='css/dashboard.css')}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="${url_for('.index')}">短信系统</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <%block name="sidebar">
            <ul class="nav nav-sidebar">
              <li class=""><a href="${url_for('.interface_balance')}">短信网关接口分配</a></li>
              <li class=""><a href="${url_for('.statistics')}">统计</a></li>
              <li class=""><a href="${url_for('.query')}">查询记录</a></li>
            </ul>
          </%block>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%block name="main"></%block>
        </div>
      </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>

  <script src="${url_for('static', filename='js/lib/jquery.min.js')}"></script>
  <script src="${url_for('static', filename='js/lib/bootstrap.min.js')}"></script>
  <%block name="js"></%block>

</html>
